<!--
template fragment for ARMS application

parent: accountFragment
children: none

version 4.0
Author: Matthew Bass
-->

<section xmlns:th="http://www.thymeleaf.org" th:fragment="buttons(accountId)" class="buttons">

    <!-- show "Edit Account" when NOT editing -->
    <button id="editBtn" type="button"
            th:attr="style=${editMode} ? 'display:none' : null"
            class="btn btn-secondary"
            th:onclick="|location.href='@{/accounts/edit/{id}(id=${accountId})}'|">
        Edit Account
    </button>

    <!-- show "Save Changes" when editing -->
    <button id="saveBtn" type="submit"
            th:attr="form='accountForm',style=${editMode} ? null : 'display:none'"
            class="btn btn-primary">
        Save Changes
    </button>

    <!-- show Cancel when editing -->
    <button id="cancelBtn" type="button"
            th:attr="style=${editMode} ? null : 'display:none'"
            class="btn btn-secondary"
            th:onclick="|location.href='@{/accounts/cancel/{id}(id=${accountId})}'|">
        Cancel
    </button>

    <!--  show success message after update -->
    <div th:if="${updateSuccess}" class="success-message">
        Account Updated Successfully.
    </div>



</section>



