<!--
template fragment for ARMS application

parent: ArmsSPA
children: BookingContentFragment, BookingFormFragment, BookingButtonsFragment

version 4.0
Author: Matthew Bass
-->

<section th:fragment="bookings(accountId, bookings, bookMode, selectedBooking)" class="container">

    <!-- show booking list in default mode -->
    <th:block th:if="${bookMode} == 'default'">
        <div class="content" th:replace="BookingContentFragment :: content(bookings=${bookings})"></div>
    </th:block>


    <!-- show booking form in create/view/edit/delete modes -->
    <th:block th:if="${bookMode} != 'default'">
        <div class="content"
             th:replace="BookingFormFragment :: form(accountId=${accountId}, bookMode=${bookMode}, booking=${selectedBooking})"></div>
    </th:block>

    <!-- always show booking buttons -->
    <div class="buttons" th:replace="BookingButtonsFragment :: buttons(customerId=${accountId}, bookMode=${bookMode})"></div>

</section>

